# Build Artifacts
bin/
obj/
*.o

# OS specific files
.DS_Store
Thumbs.db

# IDE/Editor files
.vscode/
.idea/
*.swp
*.swo

# Ensure .pichrono is NOT ignored
# This allows piggybacking on Git for remote storage of Pichrono data
!.pichrono/
